body {
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

#right-side {
    margin-left:auto;
}

.icon1 {
    width:200px;
    height:100px;
    vertical-align: middle;
}
.icon2 {
    width:200px;
    height:auto;
    vertical-align: middle;
}
#amount {
    font-size: 25px;
}

.logo {
    margin: 20px 0px 20px 0px;
}

#character-list {
    display:flex;
    justify-content: center;
}

#character-list img {
    width: 100px;
    height: 100px;
    margin: auto;
    object-fit: cover;
    float: left;
}

#character-list img:hover {
    filter: drop-shadow(0 0 0.75rem white)
}

#character-info {
    display: flex;
    height: 400px;
    justify-content: center;
    margin-top: 25px;
}

#character-info img {
    height: auto;
    margin: 7px;
    filter: drop-shadow(0 0 1em #c93642)
}

#character-info div {
    width: 500px;
    margin-left: 20px;
}

#character-info div p {
    font-family: 'Nanum Gothic', sans-serif;
}

form {
    width:400px;
    
}

#love {
    border: 0;
    width:200px;
    color: black;
    background: white; 
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    display: inline;
    text-align: center;
}
#hate {
    border: 0;
    width:200px;
    color: black;
    background: white; 
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    display: inline;
    text-align: center;
}

input[type=text] {
    display:inline-block;
    border: 0;
    width:100%;
    color: black;
    background: white; 
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
}

input[type=submit] {
    display:inline-block;
    border: 0;
    width:100%;
    color: black;
    background: white; 
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    box-sizing: border-box;
    margin-top: 10px;
}

#User-Comment {
    font-size: 20px;
    margin-top: 5px;
    padding-top: 5px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: left;
    cursor: pointer;
    font-family: fantasy;
}